#status-bar {
  border-bottom: 2px solid #5f506136;
}

#blinker {
  animation: blinker 1.1s infinite;
  font-weight: bold;
  display: unset;
  @keyframes blinker {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}

.dropdown {
  button {
    background-color: transparent;
    border: transparent;
    color: #c8c5c0;
    height: 30px;
  }
  .dropdown-menu {
    background-color: #212529;
    border: 0;
    .dropdown-item:hover {
      background-color: transparent;
      color: #867f8e;
    }
    .dropdown-item.active {
      background-color: #24242b !important;
      color: #998aa7;
    }
  }
}
