<header id="header" class="fw-bold text-start mb-5">
  <div id="status-bar" class="d-flex flex-row-reverse mb-3">
    <i class="bi bi-battery-full mx-3"></i>
    <i class="bi bi-wifi"></i>
  </div>
  <div>
    <p>
      C:\Users\<a class="text-decoration-none" href="https://maria-cristinaiosub.vercel.app/home" target="_blank">Maria-Cristina Iosub</a>\Documents\Numeric-metamorphosis\src\main-server.mjs
      <br />
      Connected! Access granted. Session initiated. Terminal opened.
    </p>
    <p>> <span id="functions-number">12</span> functions ready. 9 commands available <span id="blinker">_</span></p>
    <nav class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle p-0 fw-bold"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        > Pick option
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item fw-bold text-decoration-none" routerLink="/transform-numbers" routerLinkActive="active" (click)="lunaTransforms()">
            / transform numbers
          </a>
        </li>
        <li>
          <a class="dropdown-item fw-bold text-decoration-none" routerLink="/create-a-list" routerLinkActive="active" (click)="lunaLists()">
            / create a list
          </a>
        </li>
        <li>
          <button class="dropdown-item fw-bold text-decoration-none" routerLink="/play-music" routerLinkActive="active" (click)="lunaMusic()">
            / listen to music
          </button>
        </li>
      </ul>
    </nav>
    <p>- - - - - - - - -</p>
  </div>
</header>
