<div id="monitor" class="m-3 mb-0 p-4 rounded-5">
  <div id="window" class="bg-dark rounded-5 p-4 w-100 h-100">
    <div class="d-flex flex-column overflow-auto h-100">
      <app-header></app-header>
      <main>
        <router-outlet></router-outlet>
      </main>
      <div class="d-flex flex-column flex-fill align-items-end justify-content-end">
        <div id="cat-text" class="px-3 py-2 text-center">
          <p class="m-0">
            <a class="link-primary text-decoration-none" href="https://applemoyse.dev/luna" target="_blank">LUNA</a>
            says hello.
          </p>
        </div>
        <img class="cat" src="/assets/images/cat.png" alt="A sketch of a cat saying meow" />
      </div>
      <footer class="p-2 text-center">
        <button
          class="btn"
          title="Go to top"
          [ngClass]="{ 'opacity-0': !displayScrollTop }"
          (click)="scrollToTop()"
        >
          <i class="bi bi-chevron-double-up"></i>
        </button>
      </footer>
    </div>
  </div>
  <div class="text-center">
    <button class="btn-close btn-close-white py-0" title="Power On" (click)="welcome()">
      <i class="bi bi-power"></i>
    </button>
  </div>
</div>
<div id="monitor-stand"></div>
